# CONFIG DATABASE
DB_HOST=localhost
DB_NAME=nest-boilerplate-db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root123
DB_DRIVER=postgres
DB_TIMEZONE=+07:00

JWT_EXPIRES_IN='1d'
JWT_SECRET='d50361529130a6347ab129b8b804108ab0d12ab123ad7e8d98e2a31a0dd6826a'


#LOGGER FILE
LOG_FATAL_PATH=logs/fatal-%DATE%.log
LOG_COMBINED_PATH=logs/combined-%DATE%.log
LOG_ERROR_PATH=logs/error-%DATE%.log
LOG_MAX_SIZE=1g
LOG_MAX_FILES=5d
LOG_ZIP_OLD_FILE=true
LOG_NAME_DATE_PATTERN=YYYYMMDD

# CONFIG APP
APP_NODE_ENV=dev
APP_PORT=3005
APP_URL=''
