# CONFIG DATABASE
DB_HOST=localhost
DB_NAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=postgres
DB_TIMEZONE=+07:00

#LOGGER FILE
LOG_FATAL_PATH=logs/fatal-%DATE%.log
LOG_COMBINED_PATH=logs/combined-%DATE%.log
LOG_ERROR_PATH=logs/error-%DATE%.log
LOG_MAX_SIZE=1g
LOG_MAX_FILES=5d
LOG_ZIP_OLD_FILE=true
LOG_NAME_DATE_PATTERN=YYYYMMDD